{% extends "layout.html" %}

{% block content %}
  <h1 style="margin: 0 0 16px; color: #0f172a; font-size: 24px; line-height: 1.3;">
    {{ subject }}
  </h1>

  <p style="margin: 0; font-size: 16px;">
    {{ body_text }}<br><br>
    Thank you so much for signing up for Konnect! We’re truly excited to have you as part of our community.<br><br>
    With Konnect, you’ll be able to connect, collaborate, and grow together with other members. If you have any questions or need assistance getting started, don’t hesitate to reach out.<br><br>
    We look forward to supporting you on your journey!<br><br>
    Welcome aboard!
  </p>
{% endblock %}